# Qwack Server
QWACK_PORT=4000
QWACK_HOST=0.0.0.0
# DynamoDB table name (leave empty for local SQLite)
QWACK_TABLE_NAME=

# Auth
OPENAUTH_ISSUER_URL=http://localhost:4000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
